[submodule "lib/jeffmakes-kicad-library"]
	path = lib/jeffmakes-kicad-library
	url = git@github.com:jeffmakes/jeffmakes-kicad-library.git
[submodule "lib/digikey-kicad-library"]
	path = lib/digikey-kicad-library
	url = git@git.monad.is:tr20/digikey-kicad-library.git
[submodule "lib/kicad-symbols"]
	path = lib/kicad-symbols
	url = git@gitlab.com:kicad/libraries/kicad-symbols.git
[submodule "lib/kicad-footprints"]
	path = lib/kicad-footprints
	url = git@gitlab.com:kicad/libraries/kicad-footprints.git
